@import '../../../theme/const.scss';

.tips-share {
    font-weight: bolder;
    font-size: $grid3;
}

.total-points {
    font-weight: bolder;
    font-size: $grid2;
}

// .tips-share-label {
//     font-size: $grid2;
// }
